body {
  background-color: black;
}

table {
  border: solid 50px white;
}

h1 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

h4 {
  margin-left: 2.5%;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

mat-form-field {
  margin-left: 2.5%;
}

mat-option {
  text-align: center;
}

@import url("https://fonts.googleapis.com/css?family=Rubik:500");

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Rubik", sans-serif;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #ccd1d9;
}

.button-add-intern {
  padding: 10px 14px;
  margin-left: 84.5%;
  box-shadow: 0px 0px 12px -2px rgba(0, 0, 0, 0.5);
  line-height: 1.5;
  background: #0c4279;
  text-decoration: none;
  color: white;
  font-size: 14px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  position: relative;
  transition: background-color 0.6s ease;
  overflow: hidden;
  &:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
    top: var(--mouse-y);
    left: var(--mouse-x);
    transform-style: flat;
    transform: translate3d(-50%, -50%, 0);
    background: rgba(white, 0.1);
    border-radius: 100%;
    transition: width 0.3s ease, height 0.3s ease;
  }
  &:focus,
  &:hover {
    background: darken(#008aa6, 7%);
    background-image: linear-gradient(144deg, #0b0b4f, #0c4279, #008aa6);
  }
  &:active {
    &:after {
      width: 10px;
      height: 10px;
    }
  }
}

.delete {
  color: red;
}
