<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap"
  rel="stylesheet"
/>

<h1>Interns list</h1>

<h4>List of poes</h4>
<mat-form-field appearance="fill">
  <mat-label>List of poes</mat-label>
  <mat-select>
    <mat-option
      [routerLink]="['/', 'intern', '/:id']"
      *ngFor="let poe of poes"
      [value]="poe.name"
    >
      {{ poe.name }}
    </mat-option>
  </mat-select>
</mat-form-field>

<!-- <div class="intern-card" *ngFor="let intern of interns">
 -->
<!-- ngFor = itération sur tableau (boucle) et évite appendChild, innerHTML...-->
<!--   <span class="uppercase">{{ intern.name }}</span> {{ intern.firstName }}
  {{ intern.email }}
</div> -->

<br />

<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th (click)="sortByName()">Name</th>
      <th>Firstname</th>
      <th>Email</th>
      <th>PhoneNumber</th>
      <th>&nbsp;</th>
      <th>Birthdate</th>
      <th>&nbsp;</th>
      <th>Adress</th>
      <th>Initials</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let intern of interns">
      <td>{{ intern.id }}</td>
      <td>
        {{ intern | initial }}
        <a [routerLink]="['/', 'intern', intern.id]">{{
          intern.name | uppercase
        }}</a>
      </td>
      <td>{{ intern.firstName | uppercase }}</td>
      <td>{{ intern.email }}</td>
      <td>{{ intern.phoneNumber }}</td>
      <td>&nbsp;</td>
      <td>{{ intern.birthDate | date: "mediumDate" }}</td>
      <td>&nbsp;</td>
      <td>{{ intern.adress }}</td>
      <td>
        <div appInitials [intern]="intern" [config]="bubbleConfig"></div>
      </td>
      <td>
        <button
          mat-icon-button
          [matMenuTriggerFor]="menu"
          aria-label="Example icon-button with a menu"
        >
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item [routerLink]="['/intern', 'update', '/:id']">
            <mat-icon>update</mat-icon>
            <span>Update</span>
          </button>
          <button mat-menu-item>
            <mat-icon>star</mat-icon>
            <span>Evaluate</span>
          </button>
          <button mat-menu-item (click)="onDelete(intern)">
            <mat-icon>delete</mat-icon>
            <span class="delete">Delete</span>
          </button>
        </mat-menu>
      </td>
      <!--       <button class="remove" (click)="deleteRow(supp.intern)">Delete</button>
 -->
    </tr>
  </tbody>
</table>

<button
  class="button-add-intern"
  mat-raised-button
  [routerLink]="['/', 'intern', 'manage', 'add']"
>
  Add an Intern
</button>
