.second-button {
  left: 47%;
  top: 10px;
}

.first-button {
  left: 46%;
  top: 10px;
}

.value {
  margin-left: 60%;
}

mat-form-field {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.identite {
  background-color: rgb(242, 242, 242);
  max-width: 500px;
  padding: 16px;
  border: 1px solid black;
  background: #f6f8ff;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.affectations {
  max-width: 500px;
  padding: 16px;
  border: 1px solid black;
  background: #f6f8ff;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

mat-list-option {
  border-bottom: 1px solid black;
}

h1 {
  text-align: center;
}
